[submodule "examples/siyuan"]
	path = examples/siyuan
	url = https://github.com/siyuan-note/siyuan.git
[submodule "examples/plugin-sample"]
	path = examples/plugin-sample
	url = https://github.com/siyuan-note/plugin-sample.git
[submodule "examples/VCPToolBox"]
	path = examples/VCPToolBox
	url = https://github.com/lioensky/VCPToolBox.git
[submodule "examples/VCPChat"]
	path = examples/VCPChat
	url = https://github.com/lioensky/VCPChat.git
[submodule "examples/VikunjaDev"]
	path = examples/VikunjaDev
	url = https://github.com/xuzhen97/VikunjaDev.git
